/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
iframe,
p,
a,
img,
strong,
b,
u,
i,
ol,
ul,
li,
form,
canvas {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {
    width: 100%;
}
body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

li {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif !important;
    overflow-x: hidden !important;
    /* font-weight: 500; */
}
option::-ms-expand {
    display: none;
}
option {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
/* --背景色字体颜色--*/
option:hover {
    color: #fff;
    background-color: #1e90ff;
}
.epub-container {
    overflow-x: hidden !important;
}

* {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

/* 隐藏range控件默认样式 */
[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    outline: 0;
    background-color: transparent;
}

/* 定义range控件轨道的样式 */
[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    background: #eee;
}

/* 定义range控件容器的样式 */
[type="range" i]::-webkit-slider-container {
    height: 40px;
    overflow: hidden;
}

/* 定义range控件拇指的样式 */
[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid transparent;
    margin-top: -8px;
    /* 使用border-image属性给拇指添加渐变边框 */
    border-image: linear-gradient(black, black) 0 fill / 8 20 8 0 / 0px 0px 0
        2000px;
}
