@font-face {
  font-family: "iconfont"; /* Project id 4839720 */
  src: url('iconfont.woff2?t=1743152307965') format('woff2'),
       url('iconfont.woff?t=1743152307965') format('woff'),
       url('iconfont.ttf?t=1743152307965') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-selected-copy:before {
  content: "\e638";
}

.icon-danxuan_weixuanzhong:before {
  content: "\e652";
}

.icon-weibiaoti519:before {
  content: "\e61a";
}

.icon-bofang1:before {
  content: "\e63a";
}

.icon-shengyin:before {
  content: "\e87c";
}

.icon-tingzhi:before {
  content: "\e612";
}

.icon-a-26Bxiayige:before {
  content: "\e689";
}

.icon-a-26Ashangyige:before {
  content: "\e68a";
}

.icon-erji:before {
  content: "\e6e5";
}

.icon-langdu:before {
  content: "\e688";
}

.icon-wenzifangxiang-zongxiang:before {
  content: "\ed95";
}

.icon-wenzifangxiang-hengxiang:before {
  content: "\ed96";
}

.icon-heiyuandian:before {
  content: "\e616";
}

.icon-jia:before {
  content: "\e6a9";
}

.icon-jian:before {
  content: "\e6aa";
}

.icon-yanse:before {
  content: "\e678";
}

.icon-layoutForm:before {
  content: "\e62c";
}

.icon-shangyiye:before {
  content: "\e614";
}

.icon-xiayiye:before {
  content: "\e615";
}

.icon-a-cebianlanfenleizhedie:before {
  content: "\e636";
}

.icon-a-fenleizhediecebianlan:before {
  content: "\e637";
}

.icon-guanbicebianlan:before {
  content: "\e893";
}

.icon-mulu:before {
  content: "\e890";
}

.icon-shuqian:before {
  content: "\e607";
}

.icon-anmuluchaolu-xianxing:before {
  content: "\e61c";
}

.icon-gengduo:before {
  content: "\e605";
}

.icon-relieve:before {
  content: "\e9ba";
}

.icon-zitidaxiao:before {
  content: "\e854";
}

.icon-library:before {
  content: "\e741";
}

.icon-zuixiaohua:before {
  content: "\e650";
}

.icon-zuidahua_huaban1:before {
  content: "\e673";
}

.icon-guanbi:before {
  content: "\e611";
}

.icon-sidebarcebianlan:before {
  content: "\e6e4";
}

.icon-tianjiashuqian:before {
  content: "\e617";
}

.icon-dagou2:before {
  content: "\e73c";
}

.icon-sousuo1:before {
  content: "\e601";
}

.icon-highlight-outlined1:before {
  content: "\e6ca";
}

.icon-shanchu:before {
  content: "\e797";
}

.icon-24gl-lineSpacing:before {
  content: "\eb05";
}

.icon-duanla:before {
  content: "\e60d";
}

.icon-dagou:before {
  content: "\e600";
}

.icon-biji:before {
  content: "\e6a7";
}

.icon-fuzhi:before {
  content: "\e65f";
}

.icon-font-size:before {
  content: "\e728";
}

